annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.4.0
dnspython==2.8.0
fastapi==0.110.0
h11==0.16.0
idna==3.15
pydantic==2.13.4
pydantic_core==2.46.4
pymongo==4.6.2
python-dotenv==1.0.1
python-multipart==0.0.9
starlette==0.36.3
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.28.0
